.logo-edit{
    padding: 0;
    margin: 0;
}

#nomePag {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}

.style-edit {
    max-height: 600px;
}

.style-edit a {
    padding: 0px;
    margin: 10px 25px;
    font-size: 15px;
    text-transform: uppercase;
}


.carousel-slide-edit{
    max-height: 100% !important;
}

.block-page{
    width: 100%;
    padding: 50px;
}

.titulo h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 55px;
}

.textos p {
    text-align: justify;
    font-size: 20px;
    text-indent: 40px;
}

.edit-container{
    width: 100%;
}

.cards-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 75px;
    background-color: rgb(43, 43, 43);
}

.cards-back-card{
    justify-content: center;
    margin: 25px;
    margin-top: 0;
}